%nav.timenav
  %h3 Date Published
  %p #{@backdate.to_formatted_s(:rfc822)} &mdash; #{@date.to_formatted_s(:rfc822)}
  %table{style: "width: 100%; text-align: center; border-collapse: separate;", cellspacing: 0}
    %tr
      %td.btn-default.half.top.left= link_to("Prev #{@range} days", url_for(params.merge(date: @date - @range.days)))
      %td.btn-default.half.top.right= link_to("Next #{@range} days", url_for(params.merge(date: @date + @range.days)))
    %tr
      %td.underline
    - if signed_in?
      %tr
        %td.btn-default{colspan: 2, class: @since_last && !params["date"] && 'btn-primary'}
          %a{href: url_for({range: 'since_last'})} Since Last Visit
    %tr
      %td.btn-default{colspan: 2, class: @range == 1 && !params["date"] && params["range"] != "since_last" && 'btn-primary'}
        %a{href: url_for({range: 2})} 2 Days ago
    %tr
      %td.btn-default{colspan: 2, class: @range == 2 && !params["date"] && params["range"] != "since_last" && 'btn-primary'}
        %a{href: url_for({range: 3})} 3 Days ago
    %tr
      %td.btn-default{colspan: 2, class: @range == 6 && !params["date"] && params["range"] != "since_last" && 'btn-primary'}
        %a{href: url_for({range: 7})} 1 Week ago
    %tr
      %td.btn-default{colspan: 2, class: @range == 30 && !params["date"] && params["range"] != "since_last" && 'btn-primary'}
        %a{href: url_for({range: 31})} 1 Month ago
    %tr
      %td.btn-default.bottom{colspan: 2, class: @range == 364 && !params["date"] && params["range"] != "since_last" && 'btn-primary'}
        %a{href: url_for({range: 365})} 1 Year ago

