<nav class="timenav">
  <h3>Date Published</h3>
  <p style="text-align: center;">
    <% if @range > 1 %>
      <%= @backdate.to_formatted_s(:rfc822) %> &mdash; 
    <% end %>
    <%= @date.to_formatted_s(:rfc822) %>
  </p>
  <table cellspacing="0">
    <tr>
      <td class="btn-default half top left">
        <%= link_to "Prev #{@range == 1 ? 'day' : @range.to_s + ' days'}", url_for(params.merge(date: @date - @range.days)) %>
      </td>
      <td class="btn-default half top right">
        <%= link_to("Next #{@range == 1 ? 'day' : @range.to_s + ' days'}", url_for(params.merge(date: @date + @range.days))) %>
      </td>
    </tr>
    <tr><td class="underline"></tr>
    <% if signed_in? %>
      <tr>
        <td colspan="2" class="btn-default<% if @since_last %> btn-primary<% end %>">
          <a href="<%= url_for(range: 'since_last') %>">Since Last Visit</a>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="1" class="btn-default<% if !@since_last && !params['date'] && @range == 1 %> btn-primary<% end %>">
        <a href="<%= url_for(range: 1) %>">1 Day</a>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="btn-default<% if !@since_last && !params['date'] && @range == 3 %> btn-primary<% end %>">
        <a href="<%= url_for(range: 3) %>">3 Days</a>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="btn-default<% if !@since_last && !params['date'] && @range == 7 %> btn-primary<% end %>">
        <a href="<%= url_for(range: 7) %>">1 Week</a>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="btn-default<% if !@since_last && !params['date'] && @range == 31 %> btn-primary<% end %>">
        <a href="<%= url_for(range: 31) %>">1 Month</a>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="btn-default<% if !@since_last && !params['date'] && @range == 365 %> btn-primary<% end %>">
        <a href="<%= url_for(range: 365) %>">1 Year</a>
      </td>
    </tr>
  </table>
</nav>
