- provide :title, @title

.container#feed-page
  .row-fluid
    .span2.feedbar.left
      %ul.nav.nav-list.tree-sidebar
        - if signed_in?
          %li.feed-folder.my-feeds
            %label.nav-header
              %i.icon-chevron-down
              My feeds
            %ul.nav.nav-list.tree
              - current_user.feeds.each do |feed|
                %li.leaf
                  = link_to(feed.fullname, feed)

        - cache 'feedbar.left.3' do
          %li.source-heading arXiv.org
          - Feed.where(name: ['gr-qc', 'hep-ex', 'hep-lat', 'hep-ph', 'hep-th', 'math-ph', 'nucl-ex', 'nucl-th', 'quant-ph']).each do |feed|
            %li.feed-folder{ class: @feed == feed ? 'active' : '' }
              %label.nav-header
                %i.icon-chevron-right.transparent
                = link_to feed.fullname, feed

          - Feed.where(name: ['astro-ph', 'cond-mat', 'nlin', 'physics', 'math', 'cs', 'q-bio', 'q-fin', 'stat']).includes(:children).each do |parent|
            %li.feed-folder{ class: @feed == parent ? 'active' : '' }
              - expanded = (@feed == parent || (@feed && @feed.parent == parent))
              %label.nav-header
                %i{ class: expanded ? 'icon-chevron-down' : 'icon-chevron-right' }
                = link_to parent.fullname, parent
              %ul.nav.nav-list.tree{ style: expanded ? '' : 'display: none;' }
                - parent.children.each do |feed|
                  %li.leaf{ class: @feed == feed ? 'active' : '' }= link_to(feed.fullname, feed)

    .span10.feed-center
      %header.feed-header
        .row-fluid
          .span10
            .row-fluid
              - if @feed
                .span10
                  %h1= @feed.fullname
                .span2
                  = render 'feeds/subscribe', :feed => @feed
              - else
                .span10
                  %h1= "All subscribed feeds"
            .row-fluid
              %a.abstract-toggle.pseudolink

      .row-fluid
        .span10
          -#
            %p
              Found #{@papers.count} papers from #{describe_range(@date, @range)}
              %span.feed-identifier
                [#{@feed.identifier}]

          .paperlist
            %ul.papers
              - if @papers.length == 0
                - if @feed.nil? && signed_in? && !current_user.has_subscriptions?
                  %p You haven't subscribed to any feeds yet! Papers from subscribed feeds will appear here.
                - else
                  %p No papers found!
              - else
                - @papers.each do |paper|
                  = render partial: "papers/paper", object: paper

        .span2.feed-rightbar
          = render :partial => 'feeds/next_prev_links'
          - unless @recent_comments.empty?
            %h2 Recent comments
            = render :partial => "comments/abbr_comment", :collection => @recent_comments[0..9]

