- provide(:title, 'Reset password')

.container
  %h1 Reset password
  = form_tag reset_password_confirm_path(params[:id]), method: :post do
    .field
      = label_tag :password
      = password_field_tag :password
    .field
      = label_tag :password_confirmation
      = password_field_tag :password_confirmation
    .actions= submit_tag "Update Password"
