<% @voted = current_user and current_user.voted_on?(comment) %>

<div class="comment<%= @voted ? ' voted' : '' %>" data-id="<%= comment.id %>">
  <div class="votes">
    <div class="upvote"></div>
    <div class="downvote"></div>
  </div>
  <span class="label">
    <% if defined? @user %>
      Comment on paper <%= link_to comment.paper.identifier, comment.paper %>
    <% elsif defined? @paper %>
      <%= link_to comment.user.name, comment.user %> commented
    <% end %>
    at  <%= comment.created_at.to_formatted_s(:short) %>
  </span>
  (<span class="score"><%= comment.upvotes.count-comment.downvotes.count %></span> points)
  <div class="body">
    <%= simple_format(strip_tags(comment.content)) %>
  </div>
</div>
