<% @voted = current_user && current_user.voted_as_when_voted_for(comment) %>

<div class="comment<%= @voted ? ' voted' : '' %>" data-id="<%= comment.id %>" data-markup="<%= comment.content %>">
  <div class="votes">
    <div class="upvote<%= @voted == true ? ' active' : '' %>"><i class="icon-arrow-up"></i></div>
    <div class="downvote<%= @voted == false ? ' active': '' %>"><i class="icon-arrow-down"></i></div>
  </div>
  <div class="nonvotes">
    <span class="label">
      <% if defined? @user %>
        Comment on paper <%= link_to comment.paper.identifier, comment.paper %>
      <% elsif defined? @paper %>
        <%= link_to comment.user.name, comment.user %> commented
      <% end %>
      at  <%= comment.created_at.to_formatted_s(:short) %>
    </span>
    (<span class="score"><%= comment.upvotes.count-comment.downvotes.count %></span> points)
    <div class="body tex2jax">
      <%= simple_format(strip_tags(comment.content)) %>
    </div>

    <% if current_user %>
    <div class="actions">
      <% if current_user.id == comment.user_id %>
          <a class="edit">edit</a> | <%= link_to 'delete', comment, :method => :delete %>
      <% else %>
          <% if comment.reports.exists?(:user_id => current_user.id) %>
            <a class="unreport">reported (undo)</a>
          <% else %>
            <a class="report">report</a>
          <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div style="clear: both;"></div>
</div>
