<% scited = @scited.nil? ? (signed_in? && @scited_by_uid[paper.uid]) : @scited %>

<div class="scite-toggle <%= scited ? 'active' : '' %>" data-paper-uid="<%= paper.uid %>" >
  <div class="scited">
    <button class="btn unscite btn-success" title="Unscite this paper">Scited</button>
    <div class="scites-count">
      <a href="<%= paper_scites_path(paper) %>" title="Number of Scites"><button class="btn btn-default count"><%= paper.scites_count + (scited ? 0 : 1)%></button></a>
    </div>
  </div>

  <div class="unscited">
    <button class="btn btn-default scite" title="Scite this paper if you find it interesting">Scite!</button>
    <div class="scites-count">
      <a href="<%= paper_scites_path(paper) %>" title="Number of Scites"><button class="btn btn-default count"><%= paper.scites_count - (scited ? 1 : 0)%></button></a>
    </div>
  </div>
</div>
