<% provide :title, "Edit user" %> 
<h1>Edit user</h1>

Leave password and confirmation blank to not change password.

<%= form_for(@user) do |f| %>
  <%= render 'fields', f: f %>
  <div class="field">
    <%= f.label :expand_abstracts, "Always expand abstracts" %><br />
    <%= f.check_box :expand_abstracts %>
  </div>
  <div class="field">
    <%= f.label :old_password, "Old Password" %>
    <%= f.password_field :old_password %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p><%= link_to "Forgotten password?", new_password_reset_path %></p>

<div>
  <%= gravatar_for(@user) %>
  <%= link_to "change", "http://gravatar.com/emails", target: "_blank" %>
</div>
