<% provide :title, "Edit user" %> 
<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', f: f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for(@user) %>
  <%= link_to "change", "http://gravatar.com/emails", target: "_blank" %>
</div>
