<% provide :title, "All Feeds" %>

<div id="subscriptions" class="container">
  <h1>
    All Feeds
  </h1>

  <% if @user.subscriptions_count == 0 %>
    Please choose one or more feeds to subscribe to. Papers from subscribed feeds will appear on your <a href="/">home feed</a>.
  <% end %>

  <h2>Physics</h2>
  <% Feed.in_order(['astro-ph', 'cond-mat'] + ['gr-qc', 'hep-ex', 'hep-lat', 'hep-ph', 'hep-th', 'math-ph', 'nucl-ex', 'nucl-th', 'quant-ph']).each do |feed| %>
    <div class="feed-card">
      <%= feed.fullname %> [<a href="<%= url_for(feed) %>"><%= feed.uid %></a>]
      <%= render 'feeds/subscribe', feed: feed,
                 subscribed: @subscribed_ids.include?(feed.id) %>
    </div>
  <% end %>

  <% Feed.in_order(['physics', 'math', 'stat', 'cs', 'q-bio', 'q-fin', 'nlin']).each do |feed| %>
    <h2><%= feed.fullname %></h2>
    <div class="feed-card">
      <%= feed.fullname %> [<a href="<%= url_for(feed) %>"><%= feed.uid %></a>]
      <%= render 'feeds/subscribe', feed: feed,
                 subscribed: @subscribed_ids.include?(feed.id) %>
    </div>
    <% feed.children.order(:fullname).each do |feed| %>
      <div class="feed-card">
        <%= feed.fullname %> [<a href="<%= url_for(feed) %>"><%= feed.uid %></a>]
        <%= render 'feeds/subscribe', feed: feed,
                   subscribed: @subscribed_ids.include?(feed.id) %>
      </div>
    <% end %>
  <% end %>
  </ul>
</div>
