<% provide(:title, 'Join SciRate') %>

<div id="signup" class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Join SciRate</h1>
      <%= render 'shared/error_messages', object: f.object %>
      <%= form_for(@user, url: signup_path(@user)) do |f| %>
        <div class="form-group">
          <%= f.label :fullname, "Name" %>
          <%= f.text_field :fullname, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit "Sign up", class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
