- provide(:title, 'Join SciRate')

.container
  .row
    .col-md-6
      %h1 Join SciRate

      - if @user.errors.any?
        #error_explanation.alert.alert-danger
          %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

      = form_for(@user) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control'
        = f.submit "Sign up", class: 'btn btn-default'
