- provide :title, "Change Password"
.container
  %h1 Change Password
  %ul.nav.nav-tabs
    %li= link_to 'General', '/settings'
    %li.active= link_to 'Password', '/settings/password'
  = form_tag do |f|
    %table.table.table-striped
      %tr
        %td= label_tag :current_password, "Current Password"
        %td= password_field_tag :current_password
      %tr
        %td= label_tag :new_password, "New Password"
        %td= password_field_tag :new_password
      %tr
        %td= label_tag :confirm_password, "Confirm Password"
        %td= password_field_tag :confirm_password
    = submit_tag "Save changes"
