<% provide :title, "Settings" %>

<div id="settingsPage" class="container">
  <h1>Settings</h1>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="<%= settings_path %>">General</a>
    </li>
    <li>
      <a href="<%= settings_password_path %>">Password</a>
    </li>
  </ul>
  <%= form_for(@user, url: settings_path, method: :post) do |f| %>
    <table class="table table-striped table-form">
      <tr>
        <td><%= f.label :fullname, "Name" %></td>
        <td><%= f.text_field :fullname, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :username, "Username" %></td>
        <td><%= f.text_field :username, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "Email" %></td>
        <td><%= f.email_field :email, class: 'form-control' %></td>
      </tr>
    </table>
    <%= f.submit "Save changes", class: "btn btn-default" %>
  <% end %>

  <div class="gravatar">
    <%= gravatar_for(@user) %>
    <%= link_to "change", "http://gravatar.com/emails", target: "_blank" %>
  </div>
</div>
