<% provide :title, "Change Password" %>
<h1>Change Password</h1>

<%= link_to 'Settings', '/settings' %>

<%= form_tag do |f| %>
  <div class="field">
    <%= label_tag :current_password, "Current Password" %>
    <%= password_field_tag :current_password %>
  </div>

  <div class="field">
    <%= label_tag :new_password, "New Password" %>
    <%= password_field_tag :new_password %>
  </div>

  <div class="field">
    <%= label_tag :confirm_password, "Confirm Password" %>
    <%= password_field_tag :confirm_password %>
  </div>

  <div class="field">
    <%= submit_tag "Save changes" %>
  </div>
<% end %>
