- provide :title, @user.name

.container#profile-page
  %table.table
    %tr
      %td
        %h1
          = gravatar_for @user, size: 100
          = @user.name
  .row-fluid
    .span6
      %h3 Scites (#{@user.scites_count})
      %ul.nav.nav-tabs
        %li{ class: @scite_order == :scited ? 'active' : '' }
          = link_to "Sort by Scite Date", url_for(params.merge(scite_order: :scited))
        %li{ class: @scite_order == :published ? 'active' : '' }
          = link_to "Sort by Publication Date", url_for(params.merge(scite_order: :published))

      = render partial: "papers/paper", collection: @scited_papers, locals: { showabs: false }
      = will_paginate @scited_papers, param_name: 'scite_page'
    .span6
      %h3 Comments (#{@user.comments_count})
      = render @comments
      = will_paginate @comments, param_name: 'comment_page'
