<nav class="round">
  <ul>
    <li><%= link_to("<< Prev day", papers_prev_path(params.merge(date: @date))) %></li>
    <li><%= link_to("Next day >>", papers_next_path(params.merge(date: @date))) %></li>
  </ul>
  <ul>
    Include
    <li><%= link_to("2", url_for( params.merge( range: 2 ))) %></li>
    <li><%= link_to("3", url_for( params.merge( range: 3 ))) %></li>
    <li><%= link_to("4", url_for( params.merge( range: 3 ))) %></li>
    <li><%= link_to("7", url_for( params.merge( range: 7 ))) %></li>
    days
  </ul>
</nav>
