<% showabs = (showabs.nil? ? paper.scites_count > 0 : showabs) %>

<li class="paper tex2jax">
  <div class="row">
    <div class="col-md-9">
      <div class="title">
        <a href="<%= url_for(paper) %>"><%= sanitize(paper.title) %></a>
      </div>
      <div class="authors">
        <% paper.authors[0..19].each do |author| %>
          <%= author_link_to(author) + (author != paper.authors[-1] ? "," : ' ') %>
        <% end %>
        <% if paper.authors.length > 20 %>
          <a class="expand-authors">et al (<%= paper.authors.length - 20 %>)</a>
          <span class="more-authors hidden">
            <% paper.authors[20..-1].each do |author| %>
              <%= author_link_to(author) + (author != paper.authors[-1] ? "," : ' ') %>
            <% end %>
          </span>
        <% end %>
      </div>
      <span class="uid">
        <%= paper.pubdate.strftime("%b %d %Y") %>
        <% for feed in paper.feeds %>
          <%= link_to feed.uid, feed %>
        <% end %>
      </span>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <%= render 'scites/toggle', paper: paper %>
        <% if paper.comments_count > 0 %>
          <div><a href="<%= url_for(paper) %>"><%= pluralize paper.comments_count, 'comment' %></a></div>
        <% end %>
        <div class="links hidden">
          <a class="abspdf" href="<%= paper.abs_url %>">ABS</a>
          <% unless paper.pdf_url.nil? %>
            <a class="abspdf" href="<%= paper.pdf_url %>">PDF</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="abstract<%= showabs ? '' : ' hideable hidden' %>">
    <%= sanitize(paper.abstract) %>
  </div>
</li>
