<li class="papers">
   <div class="scite">
     <%= render( partial: 'scite_form', object: paper, as: :paper) if signed_in? %>
     <span class="<%= "scite_count_#{paper.id}" %>">
       <%= pluralize(paper.scites.size, 'Scite') %>
     </span><br />
     <%= link_to(pluralize(paper.comments.size, 'Comment'),
                         paper_path(paper, anchor: "comments")) if paper.comments.size > 0 %>
   </div>
   <%= render 'paper_title', paper: paper %>
   <div class ="<%= "abstract_#{paper.id}" %>">
     <%= render partial: 'abstract', object: paper, as: :paper %>
   </div
</li>
