- showabs = (showabs.nil? ? paper.scites_count > 0 : showabs)
%li.paper.tex2jax
  .row
    .col-md-10
      .title
        = link_to sanitize(paper.title), paper
      .authors
        - paper.authors.each do |author|
          = author_link_to(author) + (author != paper.authors[-1] ? "," : ' ')
      %span.identifier
        = paper.pubdate.strftime("%b %d %Y")
        -#
          = "arXiv:#{paper.identifier}"
        [#{link_to paper.feed.name, paper.feed}]
      - if paper.cross_lists.length > 1
        .crosslist
          cross-listed to:
          - for crosslist in paper.cross_lists
            - if crosslist.feed_id != paper.feed_id
              = link_to crosslist.feed.name, crosslist.feed
    .col-md-2
      = render 'scites/toggle', paper: paper
      %div.links.hidden
        %a.abspdf{ href: paper.url } 
          ABS
        - unless paper.pdf_url.nil?
          %a.abspdf{ href: paper.pdf_url } 
            PDF

  %div{ class: "abstract#{showabs ? '' : ' hideable hidden'}" }= sanitize(paper.abstract)
