<div class="title">
  <span class="title">
    <%= link_to paper.title, paper %>
  </span>
  <span class="identifier"><br>
    <%= "arXiv:#{paper.identifier}" %>
    [<%= link_to paper.feed.name, paper.feed %>]
  </span>
  <span class="links">
    <%= link_to "(abs)", paper.url %>
    <%= paper.pdf_url.nil? ? '' : link_to("(pdf)", paper.pdf_url) %>
  </span>
  <% if paper.cross_lists.length > 1 %>
    <div class="crosslist">
      cross-listed to:
        <% for crosslist in paper.cross_lists %>
          <% if crosslist.feed_id != paper.feed_id %>
            <%= link_to crosslist.feed.name, crosslist.feed %>
          <% end %>
        <% end %>
    </div>
  <% end %>
  <div class="authors">
    <% paper.authors.each do |author| %>
      <%= author_link_to author %><% if author != paper.authors[-1] %>,<% end %>
    <% end %>
  </div>
</div>
