<li class="papers">
   <div class="scite">
     <%= render( partial: 'scite_form', object: paper, as: :paper) if signed_in? %>
     <span class="<%= "scite_count_#{paper.id}" %>">
       <%= pluralize(paper.scites.size, 'Scite') %>
     </span><br />
     <%= link_to(pluralize(paper.comments.size, 'Comment'),
                         paper_path(paper, anchor: "comments")) if paper.comments.size > 0 %>
   </div>
   <div class="title">
     <span class="identifier">
       <% if @feed.nil? %>
         <%= link_to "#{paper.identifier} [#{paper.feed.name}]", paper %>
       <% else %>
         <%= link_to paper.identifier, paper %>
       <% end %>
     </span>
     <span class="title">
       <%= paper.title %>
     </span>
     <div class="authors">
       <%= paper.authors.join(', ') %>
     </div>
   </div>
   <div class ="<%= "abstract_#{paper.id}" %>">
     <%= render partial: 'abstract', object: paper, as: :paper %>
   </div
</li>
