<% cool_paper = paper.scites_count > 0 || @search %>

<% unless defined?(showabs) %>
  <% showabs = cool_paper || (current_user && current_user.expand_abstracts) %>
<% end %>

<li class="paper tex2jax">
  <div class="row">
    <div class="col-md-9">
      <div class="title">
        <a href="<%= url_for(paper) %>">
          <%= paper.title %>
        </a>
      </div>
      <div class="authors">
        <% paper.authors[0..19].each do |author| %>
          <%= author_link_to(author) + (author != paper.authors[-1] ? "," : ' ') %>
        <% end %>
        <% if paper.authors.length > 20 %>
          <a class="expand-authors">et al (<%= paper.authors.length - 20 %>)</a>
          <span class="more-authors hidden">
            <% paper.authors[20..-1].each do |author| %>
              <%= author_link_to(author) + (author != paper.authors[-1] ? "," : ' ') %>
            <% end %>
          </span>
        <% end %>
      </div>
      <span class="uid">
        <%= paper.pubdate.strftime("%b %d %Y") %>
        <% for feed in paper.feeds %>
          <%= link_to feed.uid, feed %>
        <% end %>
      </span>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <%= render 'scites/toggle', paper: paper %>
        <a class="paper-download btn btn-success" title="Download PDF" href="<%= paper.pdf_url %>">PDF</a>
        <% if paper.comments_count > 0 %>
          <div><a href="<%= url_for(paper) %>"><%= pluralize paper.comments_count, 'comment' %></a></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="abstract<% unless showabs %> hidden<% end %><% unless cool_paper %> hideable<% end %>">
    <%= paper.abstract %>
  </div>
</li>
