<li class="papers">
   <div class="scite">
     <%= render( partial: 'scite_form', object: paper, as: :paper) if signed_in? %>
     <span class="<%= "scite_count_#{paper.id}" %>">
       <%= pluralize(paper.scites.size, 'Scite') %>
     </span><br />
     <%= link_to(pluralize(paper.comments.size, 'Comment'),
                         paper_path(paper, anchor: "comments")) if paper.comments.size > 0 %>
   </div>
   <div class="title">
     <span class="title">
       <%= link_to paper.title, paper %>
     </span>
     <span class="identifier"><br>
       <%= "arXiv:#{paper.identifier} [#{paper.feed.name}]" %>
<%= link_to "(abs)", "http://arxiv.org/abs/#{paper.identifier}" %>
<%= link_to "(pdf)", "http://arxiv.org/pdf/#{paper.identifier}.pdf" %>
     </span>
     <div class="authors">
       <%= paper.authors.join(', ') %>
     </div>
   </div>
   <div class ="<%= "abstract_#{paper.id}" %>">
     <%= render partial: 'abstract', object: paper, as: :paper %>
   </div
</li>
