- showabs = (showabs.nil? ? paper.scites_count > 0 : showabs)
%li.paper.tex2jax
  .row-fluid
    .span10
      .title
        = link_to sanitize(paper.title), paper
        %span.abs-toggle.hidden
          %a.expand{ class: showabs ? ' hidden' : '' } show abstract
          %a.collapse{ class: showabs ? '' : ' hidden' } hide abstract
      .authors
        - paper.authors.each do |author|
          = author_link_to(author) + (author != paper.authors[-1] ? "," : ' ')
      %span.identifier
        = paper.pubdate.strftime("%b %d %Y")
        -#
          = "arXiv:#{paper.identifier}"
        [#{link_to paper.feed.name, paper.feed}]
      - if paper.cross_lists.length > 1
        .crosslist
          cross-listed to:
          - for crosslist in paper.cross_lists
            - if crosslist.feed_id != paper.feed_id
              = link_to crosslist.feed.name, crosslist.feed
    .span2
      = render 'scites/toggle', paper: paper
      %div.links.hidden
        %a.btn.btn-abspdf{ href: paper.url } 
          %i.icon-file-text
          ABS
        - unless paper.pdf_url.nil?
          %a.btn.btn-abspdf{ href: paper.pdf_url } 
            %i.icon-download-alt
            PDF

  %div{ class: "abstract#{showabs ? '' : ' hidden'}" }= sanitize(paper.abstract)
