<li class="paper">
  <table class="paper">
    <tr>
      <td class="scite">
        <%= pluralize(paper.scites.count, 'Scite') %>
        <%= render( partial: 'scite_form', object: paper, as: :paper) if signed_in? %>
      </td>
      <td class="title">
        <%= link_to paper.identifier, paper %><br />
        <%= paper.title %><br />
        <%= paper.authors.join(', ') %>
      </td>
    </tr>
    <% if paper.scites.count > 0 %>
      <tr>
        <td class="abstract" colspan="2">
          <%= paper.abstract %>
        </td>
      </tr>  
    <% end %>
  </table>
</li>
