<div class="title">
  <span class="title">
    <%= link_to paper.title, paper %>
  </span>
  <span class="identifier"><br>
    <%= "arXiv:#{paper.identifier}" %>
    [<%= link_to paper.feed.name, paper.feed %>]
  </span>
  <span class="links">
    <%= link_to "(abs)", paper.url %>
    <%= paper.pdf_url.nil? ? '' : link_to("(pdf)", paper.pdf_url) %>
  </span>
  <div class="authors">
    <%= raw(paper.authors.map { |auth_iter| 
        auth_names = auth_iter.split(' ')
        auth_processed_name = "#{auth_names[-1].tr('-','_').mb_chars.normalize(:kd).gsub(/[^\x00-\x7f]/n, '').to_s}_#{auth_names[0][0]}"
        auth_URL = "http://arxiv.org/find/#{paper.feed.name.partition('.')[0]}/1/au:+#{auth_processed_name}/0/1/0/all/0/1"
        link_to(auth_iter, auth_URL)
        }.join(', '))
    %>
  </div>
</div>
