<h3>recent comments</h3>
<% @recent_comments.each do |comment| %>
<div class="recent_comment">
<%= link_to comment.paper.title, comment.paper %><br>
 On <%= comment.created_at.to_date.to_formatted_s(format = :short) %>,
<%= link_to comment.user.name, comment.user %> wrote: <br>
<blockquote style="margin-top:5px">
<%= comment.content[0..499] %>
<%= if comment.content.length>500
link_to "...(continued)",comment.paper
end
 %>
</blockquote>
<hr width="50%" >
</div>
<% end %>
