<% if !params[:search] %>
  <% provide :title, "Papers for #{@feed_name} from #{@date.to_formatted_s(:short)}" %>
  <%= render 'next_prev_links' %>
<% else %>
  <% provide :title, "Search results" %>
<% end %>

<% if params[:search] %>
  <h1>Search results for "<%= params[:search] %>"</h1>
<% elsif @range == 0 %>
  <h1>All papers from <%= @feed_name %> from <%= @date.to_formatted_s(:rfc822) %></h1>
<% else %>
  <h1>All papers from <%= @feed_name %> from
      <%= (@date-@range.days).to_formatted_s(:rfc822) %> to
      <%= @date.to_formatted_s(:rfc822) %></h1>
<% end %>

<% if !params[:search] %>
  <div class="sidebar">
    <%= render 'recent_comments' %>
  </div>
<% end %>

<div class="paperlist">
<ul class="papers">
  <%= render @papers %>
</ul>
</div>

<% if !params[:search] %>
  <%= render 'next_prev_links' %>
<% end %>
<%= will_paginate @papers %>
&nbsp;
