<% provide :title, "Papers for #{@feed_name} from #{@date.to_formatted_s(:short)}" %>

<%= render 'next_prev_links' %>

<% if @since.nil? %>
  <h1>All papers from <%= @feed_name %> from <%= @date.to_formatted_s(:rfc822) %></h1>
<% else %>
  <h1>All papers from <%= @feed_name %> from
      <%= @since.to_formatted_s(:rfc822) %> to
      <%= @date.to_formatted_s(:rfc822) %></h1>
<% end %>

<ul class="papers">
  <%= render @papers %>
</ul>

<%= render 'next_prev_links' %>
&nbsp;
