
<%# The title has a number of possible states #%>

<% provide :title, @title %>

<div class="row-fluid index">
  <div class="span1 sidebar left">
    <% if signed_in? %>
      <% current_user.feeds.each do |feed| %>
        <%= link_to feed.name, feed %>
      <% end %>
      ---
    <% end %>
    <% Settings::CURRENT_FEEDS.each do |feedname| %>
      <a href="/feed/<%= feedname %>"><%= feedname %></a>
    <% end %>
  </div>

  <div class="span9">
    <header>
      <% if @feed %>
        <%= render 'feeds/subscribe', :feed => @feed %>
      <% end %>

      <h1><%= @title %></h1>

      <div class="paperlist">
      <ul class="papers">
        <% if @papers.length == 0 %>
          <% if @feed.nil? && signed_in? && !current_user.has_subscriptions? %>
            <p>You haven't subscribed to any feeds yet! Papers from subscribed feeds will appear here.</p>
          <% else %>
            <p>No papers found!</p>
          <% end %>
        <% else %>
          <%= render @papers %>
        <% end %>
      </ul>
      </div>

      <%= will_paginate @papers %>
      &nbsp;
  </div>

  <div class="span2 sidebar right">
    <%= render 'next_prev_links' %>
    <div class="recent-comments">
      <%= render 'recent_comments' %>
    </div>
  </div>
</div>
