
<%# The title has a number of possible states #%>

<% provide :title, @title %>

<div class="row-fluid index">
  <div class="span1 sidebar left">
    <% Feed.all.each do |feed| %>
      <%= link_to feed.name, feed %>
    <% end %>
  </div>

  <div class="span9<%= @feed ? ' feed' : '' %>"<%= @feed ? " data-id=#{@feed.id}" : '' %>>
    <header>
      <% if @feed %>
        <%= render 'feeds/subscribe' %>
      <% end %>

      <h1><%= @title %></h1>

      <div class="paperlist">
      <ul class="papers">
        <% if @papers.length == 0 %>
          <p>No papers found!</p>
        <% else %>
          <%= render @papers %>
        <% end %>
      </ul>
      </div>

      <%= will_paginate @papers %>
      &nbsp;
  </div>

  <div class="span2 sidebar right">
    <div class="recent-comments">
      <%= render 'recent_comments' %>
    </div>
  </div>
</div>
