<% provide :title, "#{@feed_name}" %>

<% @feed_desc = @feed ? "from #{@feed_name} " : '' %>

<div class="row-fluid">
  <div class="span1 sidebar left">
    <% Feed.all.each do |feed| %>
      <%= link_to feed.name, feed %>
    <% end %>
  </div>

  <div class="span9">
    <% if @papers.length == 0 %>
      <h1>No papers found</h1>
    <% else %>
      <% if @range == 0 %>
        <h1>All papers <%= @feed_desc %>from <%= @date.to_formatted_s(:rfc822) %></h1>
      <% else %>
        <h1>All papers <%= @feed_desc %>from
            <%= (@date-@range.days).to_formatted_s(:rfc822) %> to
            <%= @date.to_formatted_s(:rfc822) %></h1>
      <% end %>

      <div class="paperlist">
      <ul class="papers">
        <%= render @papers %>
      </ul>
      </div>

      <%= will_paginate @papers %>
      &nbsp;
    <% end %>
  </div>

  <div class="span2 sidebar right">
    <div class="recent-comments">
      <%= render 'recent_comments' %>
    </div>
  </div>
</div>
