<!DOCTYPE html>

%html
  %head
    %title= full_title(yield(:title))
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv' => "content-language", content: "en" }
  %body#landing
    %header.landing-header
      .container
        %h1
          %a{ href: root_path }
            = image_tag "scirate-icon.png"
            SciRate
        %p An open access science aggregator
        = form_tag papers_search_path, :method => 'get', class: 'searchbox' do
          = text_field_tag :q, params[:q], placeholder: 'Search', class: 'form-control'

    .container
      .row
        .col-md-3.col-md-offset-9
          %ul.landing-nav
            %li= link_to "sign in", login_path
            %li.signup= link_to "sign up", signup_path
            %li= link_to "about", about_path

    .container
      = render 'sessions/flash'
      .row
        .col-md-3
          %h2 arXiv.org
      .row
        .col-md-3
          %h3 Physics
          - Feed.where(uid: ['astro-ph', 'cond-mat']).each do |feed|
            %li.feed
              = link_to(feed.fullname, feed, title: feed.uid)
          - Feed.where(uid: ['gr-qc', 'hep-ex', 'hep-lat', 'hep-ph', 'hep-th', 'math-ph', 'nucl-ex', 'nucl-th', 'quant-ph']).each do |feed|
            %li.feed
              = link_to(feed.fullname, feed, title: feed.uid)
          = landing_column(@feeds['physics'])
        .col-md-3
          = landing_column(@feeds['math'])
          = landing_column(@feeds['stat'])
        .col-md-3
          = landing_column(@feeds['cs'])
        .col-md-3
          = landing_column(@feeds['q-bio'])
          = landing_column(@feeds['q-fin'])
          = landing_column(@feeds['nlin'])
