<!DOCTYPE html>

%html
  %head
    %title= full_title(yield(:title))
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv' => "content-language", content: "en" }
  %body#landing
    %header.landing-header
      .container
        %h1
          %a{ href: root_path }
            = image_tag "scirate-icon.png"
            Scirate
        %p An open access science aggregator
        = form_tag papers_search_path, :method => 'get', class: 'searchbox' do
          = text_field_tag :q, params[:q], placeholder: 'Search'

    %section.round
    - flash.each do |key, value|
      = content_tag(:div, value, class: "flash #{key}")

    .container
      .row-fluid
        .span3.offset9
          %ul.landing-nav
            %li= link_to "sign in", signin_path
            %li.signup= link_to "sign up", signup_path
            %li= link_to "about", about_path
        
    .container
      .row-fluid
        .span3
          %h2 arXiv.org
      .row-fluid
        .span3
          = landing_column(@feeds['physics'])
          = landing_column(@feeds['astro-ph'])
          = landing_column(@feeds['cond-mat'])
        .span3
          = landing_column(@feeds['math'])
          = landing_column(@feeds['stat'])
        .span3
          = landing_column(@feeds['cs'])
        .span3
          = landing_column(@feeds['q-bio'])
          = landing_column(@feeds['q-fin'])
          = landing_column(@feeds['nlin'])
          = render partial: 'feeds/landing_column', locals: { heading: "Other", feeds: Feed.find_all_by_name(['gr-qc', 'hep-ex', 'hep-lat', 'hep-ph', 'hep-th', 'math-ph', 'nucl-ex', 'nucl-th', 'quant-ph']) }
