

<% provide :title, "Search results" %>

<div class="container" id="search_page">
  <h1>Search SciRate</h1>
  <div id="advanced_search_form">
    <%= form_tag(papers_search_path, method: :get) do |f| %>
      <table class="table table-striped table-form">
        <tr>
          <td><%= label_tag :authors, "Author(s)" %></td>
          <td><%= text_field_tag :authors, @search.authors.join(','), class: 'form-control' %></td>
          <td>Comma-separated author names</td>
        </tr>
        <tr>
          <td><%= label_tag :title, "Title" %></td>
          <td><%= text_field_tag :title, @search.conditions[:title], class: 'form-control' %></td>
          <td>Contents of paper title</td>
        </tr>
        <tr>
          <td><%= label_tag :abstract, "Abstract" %></td>
          <td><%= text_field_tag :abstract, @search.conditions[:abstract], class: 'form-control' %></td>
          <td>Contents of paper abstract</td>
        </tr>
        <tr>
          <td><%= label_tag :feed, "Category" %></td>
          <td>
            <select class="form-control" id="folder" name="folder">
              <option value="all">(all)</option>
              <optgroup label="arXiv.org">
                <% Feed.arxiv_folders.each do |folder| %>
                  <option value="<%= folder.id %>"<% if folder.uid == @folder_uid %> selected<% end %>><%= folder.fullname %></option>
                <% end %>
              </optgroup>
            </select>
          </td>
          <td>Search a particular category feed</td>
        </tr>
        <tr>
          <td><%= label_tag :subfeed, "Subcategory" %></td>
          <td>
            <% Feed.arxiv_folders.each do |folder| %>
              <select class="hidden feed form-control" id="<%= "feed_#{folder.id}" %>" name="feed" disabled="true" %>
                <option value="<%= folder.uid %>">(all)</option>
                <% folder.children.each do |feed| %>
                  <option value="<%= feed.uid %>"<% if feed == @search.feed %> selected <% end %>>
                    <%= feed.fullname %>
                  </option>
                <% end %>
              </select>
            <% end %>
          </td>
          <td>Search a subcategory</td>
        </tr>
        <tr>
          <td><%= label_tag :general, "General" %></td>
          <td><%= text_field_tag :general, @search.general_term, class: 'form-control' %></td>
          <td>All available paper metadata</td>
        </tr>
      </table>

      <div class="field">
        <%= submit_tag "Search", class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <% if @papers %>
    <h3><%= @search.results.count %> results for <%= @query %></h3>
    <%= render 'papers/abstract_toggle' %>
    <div class="paperlist">
      <ul class="papers">
        <% if @papers.empty? %>
          No papers found.
        <% else %>
          <%= render @papers %>
        <% end %>
      </ul>
    </div>
    <%= will_paginate @papers %>
  <% end %>
</div>
