<div id="advanced_search_form">
  <%= form_tag(papers_search_path, method: :get) do |f| %>
    <table class="">
      <tr>
        <td><%= label_tag :authors, "Author(s)" %></td>
        <td><%= text_field_tag :authors %></td>
        <td>Comma-separated author names</td>
      </tr>
      <tr>
        <td><%= label_tag :title, "Title" %></td>
        <td><%= text_field_tag :title %></td>
        <td>Contents of paper title</td>
      </tr>
      <tr>
        <td><%= label_tag :abstract, "Abstract" %></td>
        <td><%= text_field_tag :abstract %></td>
        <td>Contents of paper abstract</td>
      </tr>
  </table>
  <div class="field">
    <%= submit_tag "Search" %>
  </div>
  <% end %>
</div>
