- provide :title, @paper.title
.container
  .paper.tex2jax.row
    .col-md-12
      .row.title-row
        .col-md-10
          %h1.title= sanitize(@paper.title)
        .col-md-2= render(partial: 'scites/toggle', object: @paper, as: :paper)

      %ul.authors
        - @paper.authors.each do |author|
          %li
            %a{:href => "/search?q=au:#{author.searchterm}"}
              = sanitize(author.fullname) + (author != @paper.authors[-1] ? ',' : '')
      .abstract
        = sanitize(@paper.abstract)
      - if @paper.categories.length > 0
        .categories
          Subjects:
          %strong= @paper.feeds[0].uid
          - @paper.feeds[1..-1].each do |feed|
            = feed.uid
      .dates
        Submitted #{@paper.submit_date.to_date.to_formatted_s(:rfc822)} in
        %strong= @paper.feeds[0].fullname
        [#{link_to @paper.feeds[0].uid, @paper.feeds[0]}]
        %br/
        - if @paper.updated?
          Updated #{@paper.update_date.to_formatted_s(:rfc822)}
          %br/
        = link_to @paper.abs_url, @paper.abs_url
        %br
        = link_to @paper.pdf_url, @paper.pdf_url
      .comments
        %a{:fullname => "comments"}
        %h4= pluralize(@comments.size, "comments")
        - if flash[:comment]
          %div{:class => "alert alert-#{flash[:comment][:status]}"}
            %button.close{"data-dismiss" => "alert", :type => "button"} &times;
            = flash[:comment][:content]
        .comment-list
          = render @comments
      .comment_form
        - if signed_in?
          = render 'comment_form'
        - else
          = link_to "sign in to comment", login_path()
