<% provide :title, @paper.identifier %>
<div class="paper tex2jax">
  <h1><%= @paper.title %></h1>
  <div class="authors">
    <% @paper.authors.each do |author| %>
      <%= link_to author.fullname.html_safe, "/search?q=#{author.searchterm}" %><% if author != @paper.authors[-1] %>,<% end %>
    <% end %>
  </div>
  <div class="identifier">
    <%= @paper.identifier %>
    [<%= @paper.feed.name %>]
  </div>
  <div class="abstract">
    <%= @paper.abstract %>
  </div>
  <% if @categories.length > 0 %>
    <div class="categories">
      Subjects:
      <strong><%= @paper.feed.name %></strong>
      <% @categories.each do |c| %>
        <%= c.name %>
      <% end %>
    </div>
  <% end %>
  <div class="dates">
    Published on <%= @paper.pubdate.to_formatted_s(:rfc822) %><br />
    <% if @paper.updated? %>
      Updated on <%= @paper.updated_date.to_formatted_s(:rfc822) %><br />
    <% end %>
    <%= link_to @paper.url, @paper.url %>
  </div>
  <div class="scites">
    <%= render( partial: 'scite_form', object: @paper, as: :paper ) %>
    <%= render 'sciters' %>
  </div>
  <div class="comments">
    <a name="comments"></a>
    <%= render 'comments' %>
  </div>
  <div class="comment_form">
    <% if signed_in? %>
      <%= render 'comment_form' %>
    <% else %>
      <%= link_to "sign in to comment", signin_path() %>
    <% end %>
  </div>
<div>
