<% provide :title, @paper.identifier %>
<div class="row paper">
<div class="span10 tex2jax">
  <h1 class="title"><%= sanitize(@paper.title) %></h1>
  <ul class="authors">
    <% @paper.authors.each do |author| %>
      <li><a href="/search?q=au:<%=author.searchterm%>"><%= sanitize(author.fullname) %><% if author != @paper.authors[-1] %>,<% end %></a></li>
    <% end %>
  </ul>
  <div class="abstract">
    <%= @paper.abstract %>
  </div>
  <% if @categories.length > 0 %>
    <div class="categories">
      Subjects:
      <strong><%= @paper.feed.name %></strong>
      <% @categories.each do |c| %>
        <%= c.name %>
      <% end %>
    </div>
  <% end %>
  <div class="dates">
    Published <%= @paper.pubdate.to_formatted_s(:rfc822) %> in <strong><%= @paper.feed.fullname %></strong> [<%= link_to @paper.feed.identifier, @paper.feed %>]<br />
    <% if @paper.updated? %>
      Updated <%= @paper.updated_date.to_formatted_s(:rfc822) %><br />
    <% end %>
    <%= link_to @paper.url, @paper.url %>
  </div>
  <div class="comments">
    <a name="comments"></a>
    <h4><%= pluralize(@comments.size, "comments") %></h4>
    <% if flash[:comment] %>
      <div class="alert alert-<%= flash[:comment][:status] %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:comment][:content] %>
      </div>
    <% end %>
    <div class="comment-list">
      <%= render @comments %>
    </div>
  </div>
  <div class="comment_form">
    <% if signed_in? %>
      <%= render 'comment_form' %>
    <% else %>
      <%= link_to "sign in to comment", signin_path() %>
    <% end %>
  </div>
</div>
<div class="span2 paper-sidebar">
  <span class="scite-toggle">
    <%= render(partial: 'scite_form', object: @paper, as: :paper) %>
  </span>
</div>
</div>
