<% provide :title, @paper.identifier %>
<table class="paper">
  <%= render 'papers/full_paper' %>
  <tr>
    <td>
      <%= render( partial: 'papers/scite_form', object: @paper, as: :paper ) if signed_in? %>
      <%= render 'papers/sciters' %>
      <%= render 'papers/comments' %>
      <%= render 'papers/comment_form' if signed_in? %>
    </td>
  </tr>
</table>
