<header>
  <%= link_to logo, root_path %>
  <nav class="round pull-right">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Subscriptions", subscriptions_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "About", about_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <% end %>
    </ul>
    <%= form_tag papers_search_path, :method => 'get' do %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </nav>
</header>
