<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true,
          ignoreClass: 'container',
          processClass: 'tex2jax',
        },
        showMathMenu: false,
        errorSettings: {
          style: { color: "black" },
        },
        TeX: {
          noUndefined: {
            attributes: {
              mathcolor: 'black',
            }
          }
        }
      });
    </script>
    <script type="text/javascript">
      Scirate.current_user = <%= !!current_user %>;
    </script>
  </head>
  <body>
    <header class="first" role="banner">
      <div class="container">
        <span class="scirate-logo">
          <%= image_tag "scirate-icon.png" %>
          <a href="/">Scirate</a>
        </span>

        <nav>
          <ul>
            <% if signed_in? %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", settings_path %></li>
              <li><%= link_to "Subscriptions", subscriptions_user_path(current_user) %></li>

              <!-- <li><%= link_to "Sign out", signout_path, method: :delete %></li> -->
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
            <% end %>
          <%= form_tag papers_search_path, method: 'get', class: 'searchbox' do %>
            <%= text_field_tag :q, params[:q], placeholder: 'Search' %>
          <% end %>
          </ul>
        </nav>
      </div>
    </header> 

    <header class="second"></header>

    <div class="container">
      <% flash.each do |key, value| %>
        <% if ['error', 'success'].include?(key) %>
          <div class="alert alert-<%= key %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= value %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= "<!-- #{debug(params)} -->" if Rails.env.development? %>
    </div>
  </body>
</html>
