<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <%= render 'layouts/stylesheets' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <%= image_tag "scirate-icon.png" %>
            SciRate
          </a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
          <%= form_tag papers_search_path, method: 'get', class: 'searchbox navbar-form navbar-right' do %>
            <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'form-control' %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% cache current_user do %>
              <% if signed_in? %>
                <li><%= link_to "Home", root_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", profile_path(current_user) %></li>
                    <li><%= link_to "Settings", settings_path %></li>
                    <li><%= link_to "Sign out", logout_path %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in", login_path %></li>
                <li><%= link_to "Sign up", signup_path %></li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header> 

    <header class="second"></header>

    <div class="container">
      <%= render 'sessions/flash' %>

      <% if signed_in? && !current_user.active? %>
        <div class="welcome-banner">
          Welcome to SciRate! A confirmation message was sent to <b><%= current_user.email %></b>.

          <div class="pull-right">
            <button id="resend-confirm-email" class="btn">
              Resend Confirmation
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>

    <% if Settings::ENABLE_MATHJAX %>
      <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            ignoreClass: 'container',
            processClass: 'tex2jax',
          },
          showMathMenu: false,
          errorSettings: {
            style: { color: "black" },
          },
          TeX: {
            noUndefined: {
              attributes: {
                mathcolor: 'black',
              }
            }
          }
        });
      </script>
    <% end %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      SciRate.current_user = <%= raw (current_user ? current_user.to_js : false) %>;
    </script>
  </body>
</html>
