<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true,
          ignoreClass: 'container',
          processClass: 'tex2jax',
        },
        showMathMenu: false,
        errorSettings: {
          style: { color: "black" },
        },
        TeX: {
          noUndefined: {
            attributes: {
              mathcolor: 'black',
            }
          }
        }
      });
    </script>
    <script type="text/javascript">
      Scirate.current_user = <%= !!current_user %>;
    </script>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "flash #{key}") %>
      <% end %>
      <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= "<!-- #{debug(params)} -->" if Rails.env.development? %>
    </div>
  </body>
</html>
